
.container{
    width: 1280px;
    margin: 0 auto;
    text-decoration:none;
}

.logo {
    font-family: Myriad Pro;
    color:  #000000;
    font-size: 80px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 48px;
    margin-top: 48px;
}

.logo:first-letter {
    text-transform: uppercase;
}

.logo span {
    color: #4bcaff;
}

.nav-bar {
    padding: 0;
    height: 69px;
    background-color:  #35444f;
    text-align: center;
    margin-bottom: 50px;

}
.nav-item {
    display: inline-block;
    padding: 21px 41px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    list-style: none;
    font-family: Myriad Pro;
    color:  #ffffff;
    font-size: 24px;
    font-weight: 400;
    text-align: center;

}

.nav-item a{
    color: white;
    text-decoration: none;
}


.nav-item:hover {
    background-color:  #222f3a;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}
.side-bar{
    float: left;
    display: inline-block;
    text-align: left;
    width: 344px;
    list-style: none;
    border: 1px solid black;
}

.list-item {
    padding: 0 44px;
}

.list-item-link{
    display: inline-block;
    border-color: black;
    font-family: 'Myriad Pro', sans-serif;
    color:  #485863;
    font-size: 26.99px;
    font-weight: 400;
    line-height: 88.867px;
    text-decoration: none;
}

.list-item:hover {
    color:  #000000;
    background-color:  #cccccc;
    border-left:1px solid black;
    border-right:1px solid black;
}

.list-item:hover .list-item-link {
    transform: translateX(15px);
    transition: transform 0.3s linear;
}

.img-placeholder {
    float: right;
    width: 885px;
    height: 529px;
    display: inline-block;
    color: #fff;
    border: 1px solid black;
    text-align: center;
    margin-bottom: 50px;
}
.img-placeholder:hover .ramda-logo{
    transform: scale(1.1);
}

.ramda-logo {
    margin-top: 73px;
    transition: transform 0.3s linear;
}

.text-wrapper {
    width: 815px;
    margin: 30px 0 50px 425px;
}

.text-item {
    font-family: 'Myriad Pro', sans-serif;
    color:  #2c2b2b;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    margin: 0 26px;
    margin-bottom: 30px;
}
.top-menu-link{
    float: left;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #ccc;
    margin-bottom: 50px;
}
.menu-link{
    padding: 12px 15px;
    text-decoration: none;
    list-style: none;
    font-family: 'Myriad Pro', sans-serif;
    color:  #0c1927;
    font-size: 28px;
    font-weight: 400;
    line-height: 90px;
    text-align: left;
}

.menu-link:hover {
    font-family: 'Myriad Pro';
    color:  #3181a6;
    font-size: 28px;
    font-weight: 400;
    line-height: 90px;
    text-decoration: none;
    border-bottom:1px solid #3181a6 ;
}

.copy{
    float: right;
    display: inline-block;
    margin-left: 170px;
    background-color: #ccc;
    font-family: 'Myriad Pro', sans-serif;
    color:  #010000;
    font-size: 24px;
    font-weight: 400;
    line-height: 90px;
    text-decoration: none;
    list-style: none;
    text-align: right;
}


